contractions==0.0.52
cql==1.4.0
dill==0.3.4
interpret==0.2.7
interpret_core==0.2.6
mm==0.2.6
nltk==3.6.2
numpy==1.19.5
pathos==0.2.8
scikit_learn==1.0.1
sentence_transformers==2.0.0
snorkel==0.9.7
spacy==3.1.2
torch==1.9.0
tqdm==4.62.2
